body {
  min-width: 350px;
}

.header {
  background-color: #f1f1f1;
  margin: 0px;
  padding: 2px;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-buttons {
  margin: 4px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 8px;
  padding-top: 0px;
  padding-bottom: 0px;
  /* align-items: center; */
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  /* font-weight: bold; */
  line-height: 25px;
  display: flex;
  float: right;
  overflow: hidden;
}
.header-buttons a div {
  align-items: center;
  text-align: center;
}

.header-buttons a {
  float: left;
  text-decoration: none;
  margin: 8px;
  padding: 8px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: black;
  padding-top: 20px;
  align-items: center;
  text-align: center;
  display: block;
}

.header-buttons .active {
  color: #f1f1f1;
  background-color: #009de0;
}

.company-logo {
  margin: 0px;
  padding: 0px;
  height: 72px;
}

.header-buttons a:hover {
  background-color: #cdcdcd;
  text-decoration: none;
  color: black;
}

.header a img {
  margin-top: 8px;
  height: 52px;
  margin-left: 8px;
}

.header-nav-button {
  display: none;
}

@media screen and (max-width: 808px) {
  .topnav a {
    display: none;
    text-decoration: none;
  }
  .header-nav-button {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 808px) {
  .topnav.responsive {
    position: relative;
  }
  .header .header-nav-button {
    position: absolute;
    right: 20px;
    top: 16px;
    float: right;
    display: block;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #19baff;
  }
  .topnav.responsive a {
    float: left;
    display: block;
    text-align: left;
    text-decoration: none;
  }
  .header-buttons.topnav.responsive {
    float: left;
    display: block;
  }
  .header {
    display: block;
  }
  .company-logo {
    float: left;
  }
}
