.main {
  height: 500px;
  margin-top: 72px;
  background-color: #e9ecef;
  --bg1-color: #dadada;
}

.c-title {
  padding: 4px 0;
  margin: 0 0 16px 0;
  border-bottom: 1px solid rgb(39, 38, 38);
}

.container {
  padding: 0;
  max-width: 100%;
}

nav img {
  width: 32px;
  height: 32px;
  margin-right: 4px;
}

nav {
  font-size: 20px;
}

.nav-item {
  color: black;
}

.section-1 {
  background-color: var(--bg1-color);
}

.section-3 {
  background-color: var(--bg1-color);
}

@media screen and (max-width: 700px) {
  #nav-rehab-tab span {
    display: none;
  }
}
