* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #0094d3;
}

.custom-container {
  height: 500px;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}
.custom-1 {
  background-color: lightblue;
}
.custom-2 {
  background-color: lightseagreen;
}
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}
