* {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  min-width: 350px;
  height: 100%;
  background-color: #0094d3;
}

.carousel,
.item,
.active {
  height: 100%;
}
.carousel-inner {
  height: 100%;
}

.custom-1 {
  background-color: lightblue;
}

/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
#map {
  height: 100%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
}
.carousel {
  width: 100%;
}
@media screen and (max-width: 5000px) {
  .carousel,
  .item,
  .active {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }
}

.carousel-image-custom {
  width: 100%;
}

.caption-carousel-1 {
  color: #ffffff;
  margin-bottom: 200px;
}
.carousel-button-1 {
  background-color: #ffffff;
  font-size: large;
  font-weight: bold;
  margin-top: 4px;
  text-decoration: none;
  color: #3e80e4;
  padding: 8px 16px;
}
.carousel-button-1:hover {
  background-color: #3e80e4;
  text-decoration: none;
  margin-top: 4px;
  font-size: large;
  font-weight: bold;
  color: #ffffff;
  padding: 8px 16px;
}

.caption-carousel-2 {
  color: #78badb;
  margin-bottom: 24px;
}
.carousel-button-2 {
  background-color: #3e80e4;
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  padding: 8px 16px;
}
.carousel-button-2:hover {
  background-color: #ffffff;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: #3e80e4;
  padding: 8px 16px;
}

.caption-carousel-3 {
  color: #a69371;
}
.carousel-button-3 {
  background-color: #d9471a;
  font-size: large;
  font-weight: bold;
  margin-bottom: 100px;
  text-decoration: none;
  color: #d9a81a;
  padding: 8px 16px;
}
.carousel-button-3:hover {
  background-color: #d9a81a;
  text-decoration: none;
  font-size: large;
  font-weight: bold;
  color: #d9471a;
  padding: 8px 16px;
}

.caption-carousel-4 {
  color: #332a52;
  margin: 0 0 48px 0;
}
.carousel-button-4 {
  text-decoration: none;
  background-color: #332a52;
  font-size: large;
  font-weight: bold;
  color: azure;
  padding: 8px 16px;
}
.carousel-button-4:hover {
  text-decoration: none;
  background-color: azure;
  font-size: large;
  font-weight: bold;
  color: #332a52;
  padding: 8px 16px;
}

.small-carousel-title {
  margin-top: 4px;
}

.small-carousel-description {
  height: 150px;
  display: block;
  padding: 0 8px;
}

.small-carousel-link {
  margin-top: 20px;
}

/* Custom-2 */
.custom-2 {
  background-color: lightseagreen;
  padding-top: 32px;
}

.dealer-list {
  text-align: center;
}

.dealer-list img {
  margin: 16px 16px;
}

.dealer-list .col-md-5 {
  padding-left: 0;
  padding-right: 0;
}
.row {
  margin-right: 0;
  margin-left: 0;
}

#tynor-logo {
  width: 150px;
  height: 85px;
}

#satnam-logo {
  width: 185px;
  height: 85px;
}

#karma-logo {
  width: 300px;
  height: 85px;
}

#denis-logo {
  width: 100px;
  height: 100px;
}

#skk-logo {
  width: 160px;
  height: 132px;
}

/* .small-carousel-link {
} */

@media screen and (max-width: 700px) {
  .main {
    margin-top: 72px;
  }
}
