<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMB Header</title>
    <link rel="stylesheet" href="../style/headerstyle.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
</head>

<body>
    <div class="header">
        <a href="../index.html" class="company-logo">
            <div>
                <img src="../assets/SMB_edited.png" />
            </div>
        </a>
        <nav id="topNav" class="header-buttons topnav">
            <a href="../index.html" id="home">
                <div>Home</div>
            </a>
            <a href="../pages/Products.html" id="Products">
                <div>Products</div>
            </a>
            <a href="../pages/Aboutus.html" id="About">
                <div>About Us</div>
            </a>
            <a href="../pages/contactus.html" id="Contact-us">
                <div>Contact Us</div>
            </a>
            <a href="../pages/Login.php" id="Login">
                <div>Login</div>
            </a>
        </nav>
        <a href="javascript:void(0);" class="header-nav-button" onclick="dropNav()">
            <i class="fas fa-2x fa-bars" style="color: white;"></i>
        </a>
    </div>
    <script src="../scripts/headerScript.js"></script>
</body>

</html>