<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Catalogue</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../style/products.css">
</head>

<body>
    <div class="main">
        <div class="jumbotron section-ortho">
            <div class="row c-title">
                <div class="col-sm-10">
                    <h2>Orthopaedic Items</h2>
                </div>
            </div>
        </div>

        <div class="jumbotron section-rehab">
            <div class="container">
                <div class="row c-title">
                    <div class="col-sm-10">
                        <h2>Rehabilitation Items</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <nav>
                            <div class="nav nav-tabs" id="nav-rehab-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-rehab-wheelchair-tab" data-toggle="tab"
                                    href="#nav-rehab-wheelchair" role="tab" aria-controls="nav-rehab-wheelchair"
                                    aria-selected="true"><img
                                        src="https://img.icons8.com/emoji/48/000000/manual-wheelchair.png" /><span>WheelChair</span></a>
                                <a class="nav-item nav-link" id="nav-rehab-walker-tab" data-toggle="tab"
                                    href="#nav-rehab-walker" role="tab" aria-controls="nav-rehab-walker"
                                    aria-selected="false"><img
                                        src="https://img.icons8.com/dusk/64/000000/walker.png" /><span>
                                        Walker</span></a>
                                <a class="nav-item nav-link" id="nav-rehab-walking-stick-tab" data-toggle="tab"
                                    href="#nav-rehab-walking-stick" role="tab" aria-controls="nav-rehab-walking-stick"
                                    aria-selected="false"><img
                                        src="https://img.icons8.com/color/48/000000/walking-stick.png" /><span>Walking
                                        sticks</span></a>
                                <a class="nav-item nav-link" id="nav-rehab-commode-tab" data-toggle="tab"
                                    href="#nav-rehab-commode" role="tab" aria-controls="nav-rehab-commode"
                                    aria-selected="false"><img
                                        src="https://img.icons8.com/dusk/64/000000/toilet-bowl.png" /><span>Commode
                                        tools</span></a>
                                <a class="nav-item nav-link" id="nav-rehab-bed-tab" data-toggle="tab"
                                    href="#nav-rehab-bed" role="tab" aria-controls="nav-rehab-bed"
                                    aria-selected="false"><img
                                        src="https://img.icons8.com/cotton/64/000000/bed--v1.png" /><span>Rehabilitation
                                        Bed</span></a>
                                <a class="nav-item nav-link" id="nav-rehab-healthcare-tab" data-toggle="tab"
                                    href="#nav-rehab-healthcare" role="tab" aria-controls="nav-rehab-healthcare"
                                    aria-selected="false"><img
                                        src="https://img.icons8.com/dusk/64/000000/survival-bag.png" /><span>Healthcare
                                        Devices</span></a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-rehab-wheelchair" role="tabpanel"
                                aria-labelledby="nav-rehab-wheelchair-tab">
                                <div class="card bg-light mb-3" style="width: 12rem;">
                                    <img src="../assets/Mutanseer_only_face.jpg" alt="Mustanseer Sakerwala"
                                        class="card-img-top">
                                    <div class="card-body">
                                        <h4 class="card-title">wheelchair</h4>
                                        <h5 class="card-subtitle text-muted">Product code</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-rehab-walker" role="tabpanel"
                                aria-labelledby="nav-rehab-walker-tab">
                                Walkers</div>
                            <div class="tab-pane fade" id="nav-rehab-walking-stick" role="tabpanel"
                                aria-labelledby="nav-rehab-walking-stick-tab">
                                Walking sticks</div>
                            <div class="tab-pane fade" id="nav-rehab-commode" role="tabpanel"
                                aria-labelledby="nav-rehab-commode-tab">
                                Commode</div>
                            <div class="tab-pane fade" id="nav-rehab-bed" role="tabpanel"
                                aria-labelledby="nav-rehab-bed-tab">
                                Beds</div>
                            <div class="tab-pane fade" id="nav-rehab-healthcare" role="tabpanel"
                                aria-labelledby="nav-rehab-healthcare-tab">
                                Healthcare devices</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="jumbotron section-surgical">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home"
                                    role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                    role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact"
                                    role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                aria-labelledby="nav-home-tab">
                                ..dg.</div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                aria-labelledby="nav-profile-tab">
                                ..sdfsasdfsf.</div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel"
                                aria-labelledby="nav-contact-tab">
                                ..qwerwerweqr.</div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script src="../scripts/products.js"></script>
</body>

</html>